@mixin icon($icon, $width: 24px, $height: $width) {
  width: $width;
  max-width: $width;
  min-width: $width;
  height: $height;
  max-height: $height;
  min-height: $height;
  background-image: url("/icons/#{$icon}.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-product {
  @include icon('product', 18px);
}

.icon-bill {
  @include icon('bill', 18px);
}

.icon-coin {
  @include icon('coin', 14px, 21px);
}

.icon-trend-down {
  @include icon('trend-down', 14px, 21px);
}

.icon-trend-up {
  @include icon('trend-up', 14px, 21px);
}

.icon-calendar {
  @include icon('calendar', 18px);
}

.icon-spinner {
  @include icon('spinner', 18px);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}